/* ROUND AVATAR */
:root {
  --option-mask-avatar: var(--fbskin-mask-avatar-round);
  --option-mask-avatar-status: var(--fbskin-mask-avatar-round-status);
  --option-mask-avatar-status-mobile: var(--fbskin-mask-avatar-round-status-mobile);
  --option-mask-avatar-roundness: 50%;
}